---
layout: article
titles:
  # @start locale config
  en      : &EN       Papers
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       
  ko-KR   : *KO
  fr      : &FR       Papers
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
key: page-about
---

<div style="width:1000px;">
    <div style="float:left; clear: both;" align="center">
        <img src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/sphereVideo.jpg" width="150" alt="" hspace="8"><br /> 
    </div>
    <font size="4">Preserving gaze direction in teleconferencing using a camera array and a spherical display</font><br>
    <b>Ye Pan</b>, Anthony Steed<br>
    <a href="https://ieeexplore.ieee.org/document/6365433">[pdf]</a>&emsp;<a href="https://scholar.googleusercontent.com/scholar.bib?q=info:pUFSBXWe48EJ:scholar.google.com/&output=citation&scisdr=CgVTfvOXEPf9jznzv1c:AAGBfm0AAAAAYbr1p1dsm2ZRSvso49fna98icQtIpzuz&scisig=AAGBfm0AAAAAYbr1pz1Ic9DLnCep01ekL6_UKTeRZP31&scisf=4&ct=citation&cd=-1&hl=zh-CN">[BibTeX]</a>
</div>

<!--
---
layout: articles
title: HomePage
articles:
  data_source: site.posts
  type: item
  show_excerpt: true
  excerpt_type: html
  show_readmore: false
  show_info: true
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
show_title: false
---
<div class="layout--home">
  {%- include paginator.html -%}
</div>

<script>
  {%- include scripts/home.js -%}
</script>

{{ content }}
-->
