---
layout: article
titles:
  # @start locale config
  en      : &EN       Publication
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       
  ko-KR   : *KO
  fr      : &FR       Publication
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
key: page-about
---
<div>
<p style="width:1000px;text-align:justify">
</p> 
<body>
	<table border="5" bordercolor="white" align="center">

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/cognitive.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">The impact of a self-avatar on cognitive load in immersive virtual reality </font><br>
    <font size="4">Anthony Steed, <b>Ye Pan</b>, Fiona Zisch, William Steptoe</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/The%20impact%20of%20a%20self-avatar%20on%20cognitive%20load%20in%20immersive%20virtual%20reality.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=The+impact+of+a+self-avatar+on+cognitive+load+in+immersive+virtual+reality&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AWCBpE2T9ZKgJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/RHD.jpg" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Effects of 3D perspective on head gaze estimation with a multiview autostereoscopic display </font><br>
    <font size="4">Anthony Steed, <b>Ye Pan</b></font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Effects%20of%203D%20perspective%20on%20head%20gaze%20estimation%20with%20a%20multiview%20autostereoscopic%20display.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Effects+of+3D+perspective+on+head+gaze+estimation+with+a+multiview+autostereoscopic+display&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3Agm5UPQaYuK8J%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/wild-e1586921485197.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">An ‘in the wild’experiment on presence and embodiment using consumer virtual reality equipment </font><br>
    <font size="4">Anthony Steed, Sebastian Frlston, Maria Murcia Lopez, Jason Drummond, <b>Ye Pan</b>, David Swapp</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/An%20‘In%20the%20Wild’%20Experiment%20on%20Presence%20and%20Embodiment%20using%20Consumer%20Virtual%20Reality%20Equipment.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=An+%E2%80%98in+the+wild%E2%80%99experiment+on+presence+and+embodiment+using+consumer+virtual+reality+equipment&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AsFcoYI45XoMJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/avatar_expert8.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">A comparison of avatar-, video-, and robot-mediated interaction on users’ trust in expertise </font><br>
    <font size="4"><b>Ye Pan</b>, Anthony Steed</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/A%20Comparison%20of%20Avatar-%2C%20Video-%2C%20and%20Robot-Mediated%20Interaction%20on%20Users’%20Trust%20in%20Expertise.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=A+comparison+of+avatar-%2C+video-%2C+and+robot-mediated+interaction+on+users%E2%80%99+trust+in+expertise+&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AwyT7XxOHin4J%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/sphereVideoUX-scaled.jpg" width="150" alt="" hspace="8" /></td>
            <td><font size="4">A surround video capture and presentation system for preservation of eye-gaze in teleconferencing applications</font><br>
    <font size="4"><b>Ye Pan</b>, Oyewole Oyekoya, Anthony Steed</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/A%20Surround%20Video%20Capture%20and%20Presentation%20System%20for%20Preservation%20of%20Eye-Gaze%20in%20Teleconferencing%20Applications.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=A+surround+video+capture+and+presentation+system+for+preservation+of+eye-gaze+in+teleconferencing+applications+&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3A2UYKeWZ5G1IJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/impression.png" width="150" alt="" hspace="8" /></td>
            <td><font size="4">An Empirical Study on Display Ad Impression Viewability Measurements</font><br>
    <font size="4">Weinan Zhang, <b>Ye Pan</b>, Tianxiong Zhou, Jun Wang</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/An%20Empirical%20Study%20on%20Display%20Ad%20Impression%20Viewability%20Measurements.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=An+Empirical+Study+on+Display+Ad+Impression+Viewability+Measurements&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3A7iuqageG3egJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/twoRobot.jpg" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Symmetric telepresence using robotic humanoid surrogates</font><br>
    <font size="4">Arjun Nagendran, Anthony Steed, Brian Kelly, <b>Ye Pan</b></font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Symmetric%20telepresence%20using%20robotic%20humanoid%20surrogates.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Symmetric+telepresence+using+robotic+humanoid+surrogates&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3A8RCHV0xZ6BsJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/trust.jpg" width="150" alt="" hspace="8" /></td>
            <td><font size="4">Comparing Flat and Spherical Displays in a Trust Scenario in Avatar-Mediated Interaction</font><br>
    <font size="4"><b>Ye Pan</b>, William Steptoe, Anthony Steed</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Comparing%20flat%20and%20spherical%20displays%20in%20a%20trust%20scenario%20in%20avatar-mediated%20interaction.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Comparing+Flat+and+Spherical+Displays+in+a+Trust+Scenario+in+Avatar-Mediated+Interaction&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AomHXf3M1zDMJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>

        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/Multiview-1.jpg" width="150" alt="" hspace="8" /></td>
            <td><font size="4">A gaze-preserving situated multiview telepresence system</font><br>
    <font size="4"><b>Ye Pan</b>, Anthony Steed</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/A%20Gaze-preserving%20Situated%20Multiview%20Telepresence%20System.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=A+gaze-preserving+situated+multiview+telepresence+system&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3AbD7K3XhmwOIJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
        </tr>
    
        <tr>
            <td><img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/sphereVideo.jpg" width="150" alt="" hspace="8" /></td>
            <td>    <font size="4">Preserving gaze direction in teleconferencing using a camera array and a spherical display</font><br>
    <font size="4"><b>Ye Pan</b>, Anthony Steed</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Preserving_gaze_direction_in_teleconferencing_using_a_camera_array_and_a_spherical_display.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Preserving+gaze+direction+in+teleconferencing+using+a+camera+array+and+a+spherical+display&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3ApUFSBXWe48EJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> </td>
    </table>
</body>
</div>
<hr />

<!--
---
layout: articles
title: HomePage
articles:
  data_source: site.posts
  type: item
  show_excerpt: true
  excerpt_type: html
  show_readmore: false
  show_info: true
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
show_title: false
---
<div class="layout--home">
  {%- include paginator.html -%}
</div>

<script>
  {%- include scripts/home.js -%}
</script>

{{ content }}
-->
