---
layout: article
titles:
  # @start locale config
  en      : &EN       Publication
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       
  ko-KR   : *KO
  fr      : &FR       Publication
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
key: page-about
---

<div>
<p style="width:1000px;text-align:justify">
</p> 
<div style="height:42px;display:table;">
  <div style="float:left;">
    <img alt="" src="https://github.com/SJTU-characterlab/SJTU-characterlab.github.io/raw/main/Paper_pics/sphereVideo.jpg" width="150" alt="" hspace="8" />
  </div> 
  <div style="display:table-cell;vertical-align:middle;">
    <font size="4">Preserving gaze direction in teleconferencing using a camera array and a spherical display</font><br>
    <font size="4"><b>Ye Pan</b>, Anthony Steed</font><br>
    <a href="https://SJTU-characterlab.github.io/pdf/Preserving_gaze_direction_in_teleconferencing_using_a_camera_array_and_a_spherical_display.pdf" target="_blank"><font size="4">[pdf]</font></a>&emsp;<a href="https://scholar.google.com/scholar?hl=zh-CN&as_sdt=0%2C5&q=Preserving+gaze+direction+in+teleconferencing+using+a+camera+array+and+a+spherical+display&btnG=#d=gs_cit&u=%2Fscholar%3Fq%3Dinfo%3ApUFSBXWe48EJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Dzh-CN"><font size="4">[Link]</font></a> 
  </div>
</div>
<hr />

<!--
---
layout: articles
title: HomePage
articles:
  data_source: site.posts
  type: item
  show_excerpt: true
  excerpt_type: html
  show_readmore: false
  show_info: true
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
show_title: false
---
<div class="layout--home">
  {%- include paginator.html -%}
</div>

<script>
  {%- include scripts/home.js -%}
</script>

{{ content }}
-->
